body {
    background-color: black;
}
#header {
    
    height: 80px; width: 20%; float: left;              
    
}
#header1 {
    background-color: rgb(178, 178, 189);text-decoration: black;text-align: left;
    height: 80px;width: 60%;float: left; 
               }
#header2 {
    height: 80px;width: 20%;float: left;
    background-color: black;
        }
    a:link{color: blue;} 
    a:visited{color:green;}
    a:hover{color:brown;}

#left {
    background-color: rgba(27, 190, 219, 0.568);
    width: 20%;
    height: 700px;
    float: left;
    }
#center-top {
    text-decoration: white;
    background-color: rgba(27, 190, 219, 0.568);                         
    height: 200px;
    width: 80%;
    margin-left: 238px;
           
   
}
.top1 {
    text-decoration: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    border: 1px solid black;
        
}

   .top2 {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    border: 1px solid black;
}
 .top3 {
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: 1fr;
    border: 1px solid black;
       
}

#center-mid {
  text-decoration: white;
  background-color: azure;   
  height: 300px;
  width: 18%;
  border :5px solid rgb(178, 178, 189);
  float: left;
  
}
#center-mid1 {
    background-color: azure;
    height: 300px;
    width:40%;
    float:left;
    border: 5px solid rgb(178, 178, 189);

}
#right {
    background-color: rgba(27, 190, 219, 0.568);
    width: 20%;
    height: 500px;
    float: left;
   }
 
#footer {
    color: white;
    width: 60%;
    height: 30px;
    background-color: black;
    text-decoration-style: white;
    text-align: center;
    
}
